.sb-exchange {
	width: 560px;
	border: 1px solid gray;
	padding: 16px 32px;
	border-radius: 2px;

	&__verified-button {
		background-color: rgba(#3066EE, 0.08);
		border-radius: 4px;
	}

	&__account {
		background-color: rgba(#3066EE, 0.08);
		border-radius: 4px;
		height: 2em;
		display: flex;
		align-items: center;
		padding: 0 8px;
	}
}
